<mat-card>
    <mat-card-content>
        <h1>Cell</h1>

        <p>Cellとは、単位球面上を隙間なく埋め尽くす四角形であり、次のような性質を持つ。</p>

        <ol>
            <li>
                Cellには0-30までの階層がある。階層が上がるにつれて四角形が小さくなる。
                1つのCellは4つの子Cellを持つ。
                階層30のCellだけは子Cellを持たない。
            </li>
            <li>
                Cellは辞書順のIDを持つ。
                IDの順序は領域の範囲に対応している。
            </li>
        </ol>

        <pre><code [highlight]='codeCellFromLatLng'></code></pre>

        <google-map #map1 width='100%' height='300px' [zoom]='2' [center]='map1Center'>
            <map-polygon *ngFor='let l of map1CellPolylines' [paths]='l.path' [options]='l.options'>
            </map-polygon>
        </google-map>

        <div>
            <mat-label>IDによるフィルター</mat-label>
            <mat-form-field>
                <input matInput placeholder='Min ID' [(ngModel)]='map1MinID'>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder='Max ID' [(ngModel)]='map1MaxID'>
            </mat-form-field>
        </div>
        <div style='height: 200px; overflow: scroll;'>
            <app-cell-table [disabledGetChildrenButton]='false' [cells]='map1CellsFiltered'
                (mouseOverRow)='mouseOverCellRow($event)' (mouseOutRow)='mouseOutCellRow($event)'
                (clickGetChildren)='clickGetChildren($event)'></app-cell-table>
        </div>

        <h3>Cellの特徴</h3>
        <p>Cellは空間充填曲線（S2ではヒルベルト曲線）を基に作られている。なぜCellは空間インデックスの構築に便利なのか？</p>

        <ol>
            <li>2次元平面を1次元で表現できるから。2次元平面が1次元のIDの列によって表現されている。</li>
            <li>1次元のIDの列には辞書順序があるから。1次元上における順序が近いIDは、2次元平面上における近接する領域となる。</li>
            <li>階層間のアクセスが高速であるから。あるCellの親のCellへのアクセス、その逆、子Cellへのアクセスに必要となる処理はIDの再計算を1度やるだけとなるため、高速である（Cellの階層数や個数に依存しない）。
            </li>
        </ol>

        <p>これらの特徴があることにより、空間のデータを1次元の順序列として表現できる。
            1次元の順序列を扱えるデータ構造は様々に存在している(B木,基数木,etc...)。
            多くの選択肢の中から、要件に適したデータ構造を用いることができる。
        </p>
    </mat-card-content>
</mat-card>