<mat-card>
    <mat-card-content>
        <h1 appHeadRef id='幾何学計算'></h1>

        <p>
            s2では、3 次元の単位球面上で幾何学計算が行われます。
            s2ライブラリが提供する関数や構造体の名前から 2 次元平面上の幾何図形を思い浮かべてはいけません。
            基本的には、全て 3 次元平面上の幾何図形です。s2 という名前の由来はそこにあります。
            （2次元平面や3次元空間上の幾何学計算用の関数や構造体は<app-link
                href='https://pkg.go.dev/github.com/golang/geo@v0.0.0-20210211234256-740aa86cb551/r2'>r2</app-link>,
            <app-link href='https://pkg.go.dev/github.com/golang/geo@v0.0.0-20210211234256-740aa86cb551/r2'>r3
            </app-link>にあります。）
        </p>
    </mat-card-content>
</mat-card>