<mat-card>
    <mat-card-content>
        <h1>辺</h1>

        <p>S2では、辺は2つの点から成る。この辺は単位球面上に定義されているため、測地線でもある。
        </p>
        <pre><code [highlight]='codeEdgeDefinition'></code></pre>

        <h3>辺の長さ</h3>

        <p>辺の長さを算出するためには、s2.Point構造体のDistance関数を用いる。</p>
        <pre><code [highlight]='codeEdgeDistance'></code></pre>

        <google-map #map1 width='100%' height='300px' (mapClick)='clickMap1($event)' [zoom]='1'>
            <map-marker *ngFor='let m of map1Markers; let i = index' [position]='m.position' [options]='m.options'
                (mapDragend)='map1DragendMarker($event, i)'></map-marker>
            <map-polyline *ngFor='let m of map1Polylines' [path]='m.path'></map-polyline>
        </google-map>

        <table>
            <tr *ngFor='let e of map1Edges; let i = index'>
                <td>({{map1Marker(e.tail).options.label}},{{map1Marker(e.head).options.label}})</td>
                <td>[
                    ({{map1Marker(e.tail).position.lat}},{{map1Marker(e.tail).position.lng}}),
                    ({{map1Marker(e.head).position.lat}},{{map1Marker(e.head).position.lng}})
                    ]
                </td>
                <td *ngIf='map1EdgeNew(i)'>
                    {{map1EdgeNew(i).distanceAsDegrees}}
                </td>
            </tr>
        </table>

    </mat-card-content>
</mat-card>