<mat-card>
    <mat-card-content>
        <div class='page-part'>
            <div class='page-statement'>
                <h1 appHeadRef id='s2.LatLng'></h1>

                <p>
                    <app-link href='https://pkg.go.dev/github.com/golang/geo/s2#LatLng'>s2.LatLng構造体</app-link>
                    は緯度と経度を表現します。
                    構造体には2つのフィールドが定義されています。
                    Lat フィールドは緯度、Lng フィールドは経度を表現します。
                </p>

                <p>Lat と Lng はラジアン表現であることに注意してください。
                    我々が一般的に見慣れた緯度と経度は度数表現です。
                    例えば、東京の緯度・経度（35.6804, 139.7690）という数字は度数表現です。
                    （緯度と経度についての簡単なおさらい。<app-link href='https://www.gsi.go.jp/KIDS/PAMPHLET/p9.htm'>緯度、経度ってなんだろう？
                    </app-link>
                    ）
                    s2.LatLng 構造体に度数表現の緯度と経度を代入してはいけません。
                </p>

                <h2 appHeadRef id='s2.LatLngFromDegrees'>
                </h2>

                <p>
                    度数表現の緯度・経度からLatLng構造体のインスタンスを生成するためには、<app-link
                        href='https://pkg.go.dev/github.com/golang/geo/s2#LatLngFromDegrees'>s2.LatLngFromDegrees関数
                    </app-link>
                    を使いましょう。
                </p>

                <h2 appHeadRef id='s2.LatLng.IsValid'>
                </h2>

                <p>
                    ラジアン表現と度数表現を誤って入力した場合でもエラーとなりません。
                    不正な値が Lat Lng に入力されているかどうか？を確認するために、LatLng 構造体のインスタンスを生成した後は<app-link
                        href='https://pkg.go.dev/github.com/golang/geo/s2#LatLng.IsValid'>s2.LatLng.IsValid
                    </app-link>
                    関数を使いましょう。
                </p>

                <h2 appHeadRef id='s2.LatLng.String'>
                </h2>

                <p>
                    String関数は度数表現を出力しますが、実際には、Lat Lng はラジアン表現の値が格納されています。
                </p>

                <h2 appHeadRef id='s2.LatLng.ApproxEqual'>
                </h2>

                <p>
                    LatLng 構造体同士の比較するためには、<app-link
                        href='https://pkg.go.dev/github.com/golang/geo/s2#LatLng.ApproxEqual'>
                        s2.LatLng.ApproxEqual
                    </app-link>関数を使いましょう。
                </p>
            </div>
            <div class='page-source-code'>
                <app-github-source-code path='suzuito/s2-demo-go/main/page/pagepoint01/main.go' lang='language-go'>
                </app-github-source-code>
                <app-github-source-code path='suzuito/s2-demo-go/main/page/pagepoint01/result.txt' lang='language-zsh'>
                </app-github-source-code>
            </div>
        </div>
        <div class='page-part'>
            <div class='page-statement'>
                <h1 appHeadRef id='s2.Point'></h1>
                <p>
                    <app-link href='https://pkg.go.dev/github.com/golang/geo/s2#Point'>
                        s2.Point
                    </app-link>
                    構造体は、s2を使用していると何度も登場します。
                    この構造体は LatLng 構造体とはどう違うのでしょうか？
                    それを見ていきましょう。
                </p>

                <p>
                    s2.Point は単位球面上の座標を 3 次元ベクトルで表現します。
                    単位球とは、半径の長さが 1 である球です。
                    従って、s2.Point のベクトルの成分 x, y, z の値は 0 から 1 の範囲に収まります。
                    また、このベクトルの長さは必ず 1 となります。
                </p>

                <h2 appHeadRef id='s2.PointFromLatLng'>
                </h2>

                <p>
                    <app-link href='https://pkg.go.dev/github.com/golang/geo/s2#PointFromLatLng'>s2.PointFromLatLng
                    </app-link>関数は s2.LatLng から s2.Point 構造体のインスタンスを生成します。
                </p>

                <p>
                    <app-link href='https://pkg.go.dev/github.com/golang/geo/s2#PointFromCoords'>s2.PointFromCoords
                    </app-link>関数は 3 次元ベクトルから s2.Point 構造体のインスタンスを生成します。
                    入力として与えられたベクトルの長さが 1 ではなかった場合、長さ 1 のベクトルになるように変換してから、インスタンスを生成します。
                </p>
            </div>
            <div class='page-source-code'>
                <app-github-source-code path='suzuito/s2-demo-go/main/page/pagepoint02/main.go' lang='language-go'>
                </app-github-source-code>
                <app-github-source-code path='suzuito/s2-demo-go/main/page/pagepoint02/result.txt' lang='language-zsh'>
                </app-github-source-code>
            </div>
        </div>
        <!--
        <pre><code [highlight]='code2' class='language-go'></code></pre>

        <h3 appHeadRef id='s2.Point'>s2.Point</h3>

        <p>s2では、緯度・経度に対して直接の幾何計算はしない。緯度・経度を単位球面上の座標に変換した後の（x,y,z）座標に対して幾何学計算が行われる。
            <app-link href='https://godoc.org/github.com/golang/geo/s2#Point'>s2.Point構造体</app-link>
            が単位球面上の（x,y,z）座標を表わす。
        </p>
        <pre><code [highlight]='code3' class='language-go'></code></pre>

        <p>
            <app-link href='https://godoc.org/github.com/golang/geo/s2#LatLng'>r3.Vector構造体</app-link>
        </p>
        <pre><code [highlight]='code4' class='language-go'></code></pre>

        <p>
            s2における全ての幾何計算は、s2.Pointに対して行われる。
            次の関数は緯度・経度を単位球面上の点へ変換する。</p>

        <pre><code [highlight]='code5' class='language-go'></code></pre>

        <h3 id='demo1'>デモ1</h3>

        <p>地図上のどこかをクリックすると、各座標の値が表示されるデモ。</p>

        <google-map width='100%' height='300px' (mapClick)='clickMap1($event)' [zoom]='1'></google-map>

        <table>
            <tr>
                <td>緯度,経度（度数表現）</td>
                <td>(</td>
                <td>{{clicked.lat}}</td>
                <td>,</td>
                <td>{{clicked.lng}}</td>
                <td>)</td>
            </tr>
            <tr *ngIf='clickedAsLatLng'>
                <td>緯度,経度（s2.LatLng構造体）</td>
                <td>(</td>
                <td>{{clickedAsLatLng.Lat}}</td>
                <td>,</td>
                <td>{{clickedAsLatLng.Lng}}</td>
                <td>)</td>
            </tr>
            <tr *ngIf='clickedAsPoint'>
                <td>単位球面上の座標（s2.Point構造体）</td>
                <td>(</td>
                <td>{{clickedAsPoint.X}}</td>
                <td>,</td>
                <td>{{clickedAsPoint.Y}}</td>
                <td>,</td>
                <td>{{clickedAsPoint.Z}}</td>
                <td>)</td>
            </tr>
        </table>

        <div #elUnitSphere>
        </div>

        <h3>距離</h3>

        <p>距離を算出するためには、s2.Point構造体のDistance関数を用いる。</p>
        <pre><code [highlight]='codePointsDistance' class='language-go'></code></pre>
        -->
        <div #elUnitSphere>
        </div>
    </mat-card-content>
</mat-card>