<mat-card>
    <mat-card-content>
        <h1>CellUnion</h1>

        <p>Cellは領域の近似に使われることが多い。このとき便利なのがCellUnionである。</p>

        <p>CellUnionとはCellの集合であり、この集合は隙間なく領域を埋め尽くしており、Cell同士は重なりを持たない。</p>

        <pre><code [highlight]='codeCellUnionDefinition'></code></pre>

        <p>RegionCovererはCellUnionによって領域を近似するための関数を提供する。</p>

        <pre><code [highlight]='codeRegionCovererDefinition'></code></pre>

        <div>
            <div style='display: flex; flex-direction: row;'>
                <div>
                    <mat-form-field>
                        <input matInput [(ngModel)]='map1MinLevel' placeholder='MinLevel' type='number' min='0'
                            max='15'>
                    </mat-form-field>
                </div>
                <div style='width: 10px;'></div>
                <div>
                    <mat-form-field>
                        <input matInput [(ngModel)]='map1MaxLevel' placeholder='MaxLevel' type='number' min='0'
                            max='20'>
                    </mat-form-field>
                </div>
            </div>
            <div style='display: flex; flex-direction: row;'>
                <div>
                    <mat-form-field>
                        <input matInput [(ngModel)]='map1LevelMod' placeholder='LevelMod' type='number'>
                    </mat-form-field>
                </div>
            </div>
            <div style='display: flex; flex-direction: row;'>
                <div>
                    <mat-form-field>
                        <input matInput [(ngModel)]='map1MaxCells' placeholder='MaxCells' type='number'>
                    </mat-form-field>
                </div>
            </div>
            <button mat-button (click)='map1ClickRegionCoverer()'>Exec</button>
        </div>

        <google-map #map1 *ngIf='map1Center' width='100%' height='300px' [zoom]='12' [center]='map1Center'>
            <map-polygon *ngIf='map1RegionPolyline' [paths]='map1RegionPolyline.path'
                [options]='map1RegionPolyline.options'>
            </map-polygon>
            <span *ngIf='map1SelectedOption === "UnionCell"'>
                <span *ngFor='let a of map1RCUnionCell'>
                    <map-polygon *ngFor='let b of a.polylines' [paths]='b.path' [options]='b.options'>
                    </map-polygon>
                </span>
            </span>
            <span *ngIf='map1SelectedOption === "Covering"'>
                <span *ngFor='let a of map1RCCovering'>
                    <map-polygon *ngFor='let b of a.polylines' [paths]='b.path' [options]='b.options'>
                    </map-polygon>
                </span>
            </span>
            <span *ngIf='map1SelectedOption === "FastCovering"'>
                <span *ngFor='let a of map1RCFastCovering'>
                    <map-polygon *ngFor='let b of a.polylines' [paths]='b.path' [options]='b.options'>
                    </map-polygon>
                </span>
            </span>
            <span *ngIf='map1SelectedOption === "InteriorUnionCell"'>
                <span *ngFor='let a of map1RCInteriorUnionCell'>
                    <map-polygon *ngFor='let b of a.polylines' [paths]='b.path' [options]='b.options'>
                    </map-polygon>
                </span>
            </span>
            <span *ngIf='map1SelectedOption === "InteriorCovering"'>
                <span *ngFor='let a of map1RCInteriorCovering'>
                    <map-polygon *ngFor='let b of a.polylines' [paths]='b.path' [options]='b.options'>
                    </map-polygon>
                </span>
            </span>
        </google-map>

        <div style='padding: 10px;'>
            <mat-select [(ngModel)]='map1SelectedOption'>
                <mat-option *ngFor='let opt of map1Options' [value]='opt'>{{opt}}</mat-option>
            </mat-select>
        </div>

        <div style='height: 200px; overflow: scroll;'>
            <app-cell-table [disabledGetChildrenButton]='true' [cells]='map1Cells'></app-cell-table>
        </div>
    </mat-card-content>
</mat-card>