<mat-sidenav-container>
    <mat-sidenav mode='side' [opened]='opened'>
        <mat-card style='height: 100%;'>
            <div *ngFor='let v of toc' style='padding-bottom: 10px;'>
                <div class='link' [routerLink]='v.url'>{{v.name}}</div>
                <div *ngFor='let u of v.children' class='link toc-sub' [routerLink]='v.url' [fragment]='u.name'>
                    #{{u.name}}
                </div>
            </div>
        </mat-card>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <div class='link nav-each' (click)='toggleTOC()'>目次{{stringIsOpened}}</div>
            <div style='width: 5px;'></div>
            <div class='link nav-each'>
                <button mat-button (click)='clickAbout()'>About</button>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>