@import '../../../styles';

mat-sidenav-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

mat-sidenav-content {
    position: relative;
}

mat-toolbar {
    position: absolute;
    top: 0px;
    height: 20px !important;
    left: 0px;
    right: 0px;
}

.scroller {
    position: absolute;
    top: 20px;
    bottom: 0px;
    left: 0px;
    width: $page-width;
    overflow: scroll;
}

.nav-each {
    font-size: 15px;
}

.link {
    cursor: pointer;
}

.toc-row {
    padding-bottom: 10px;
    width: 300px;
}

.toc-sub {
    padding-left: 5px;
}
