<mat-sidenav-container>
    <mat-sidenav mode='side' opened='true'>
        <mat-list>
            <mat-list-item>
                <div class='link' routerLink='/'>S2 Demo</div>
            </mat-list-item>
            <mat-list-item>
                <div class='link' routerLink='/point'>座標</div>
            </mat-list-item>
            <mat-list-item>
                <div class='link' routerLink='/edge'>辺</div>
            </mat-list-item>
            <mat-list-item>
                <div class='link' routerLink='/region_rect'>領域 矩形</div>
            </mat-list-item>
            <mat-list-item>
                <div class='link' routerLink='/cell'>Cell</div>
            </mat-list-item>
            <mat-list-item>
                <div class='link' routerLink='/cell_union'>CellUnion</div>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>