<mat-card>
    <mat-card-content>
        <h1>概要</h1>
        <p>
            本サービスでは<app-link href='https://s2geometry.io/'>S2
                Library</app-link>が提供する機能の利用例を示していく。
            S2は、Googleが開発した2次元平面・および3次元球面上の幾何学計算に特化したライブラリである。これに加えて、ヒルベルト曲線に基づく空間分割機能を提供する。
            噂では、Pokemon Goで使用されているとのこと。その他の実績として、<app-link
                href='https://www.mongodb.com/blog/post/new-geo-features-in-mongodb-24'>MongoDBの空間インデックスはS2を用いて実装されている。
            </app-link>
            S2が主にサポートする言語はC++、Goである。Javaによる実装も存在しているが、もう長いことアップデートされていない。
            第三者によって、C++をバインディングしたPythonやNode.jsのライブラリも存在しているようである。
        </p>

        <p>
            S2が3次元球面上の幾何学計算に特化している理由は、S2がGISデータを扱う目的で作られたライブラリだからだ。
            GISでは、地球を3次元球面に近似し計算を行なう。すなわち、地球上の緯度・経度は3次元球面上の座標(x,y,z)として計算されるのである。
            2次元平面上の幾何学計算が可能である理由は、3次元球面上の幾何学計算には2次元平面上の幾何学計算が必要となるからである。
        </p>

        <p>
            S2はヒルベルト曲線に基づく空間分割機能も提供する。ヒルベルト曲線とは<app-link
                href='https://ja.wikipedia.org/wiki/%E7%A9%BA%E9%96%93%E5%85%85%E5%A1%AB%E6%9B%B2%E7%B7%9A'>空間充填曲線
            </app-link>
            の一つだ。空間充填曲線とは、ある一定の規則に従い空間を隙間なく埋め尽くすことのできる曲線である。
            空間充填曲線はこれまで様々に発見されている。ヒルベルト曲線はヒルベルトが発見したものだ。
            S2は、ヒルベルト曲線を用いて3次元球面を分割し、各空間への計算量の少ないアクセスを可能とする諸々の関数を提供する。
        </p>

        <p>
            空間分割機能はとても価値がある。なぜなら、空間インデックスの実装に欠かせないものとなるからだ。
        </p>
    </mat-card-content>
</mat-card>