<mat-card>
    <mat-card-content>
        <h1 appHeadRef id='概要'></h1>

        <h3 appHeadRef id='s2とは何か？'></h3>

        <p>
            本サイトでは<app-link href='https://s2geometry.io/'>s2
                Library</app-link>について書きます。
            本サイトで示される全てのサンプルコードはGo言語で書かれています（これは私の好き嫌いによるところなので悪しからず）。
        </p>

        <p>
            s2は、Googleが開発した2次元平面・および3次元球面上の幾何学計算ライブラリです。
            このライブラリは幾何学計算に必要となる諸々の関数と構造体を提供します。
            例えば、座標に対する演算、距離の計算、線分の計算、面積の計算、そして、幾何オブジェクトを表現するための構造体、その他諸々。
            （3次元空間上のベクトル計算についても一応可能ですが、こちらはあまり多くの機能は提供されておりません。）
        </p>

        <p>
            s2の最大の特徴は、3次元球面上に対する空間インデックスの実装です。
            空間インデックスとは、空間上のある部分への高速なアクセスを可能とするためのデータ構造です。
            最も有名なものは、<app-link href='https://tanishiking24.hatenablog.com/entry/introduction_rtree_index'>R木
            </app-link>
            でしょう。
            空間インデックスは様々な種類のものがありますが、どれもこれも非常に複雑です。
            自前ではなるべく（というか絶対に）実装したくありません。
            だから、空間インデックスを利用しなければならない要件が発生したとき、信頼できるライブラリがオープンソースとして公開されているということには、とても大きな価値があります。
        </p>

        <p>
            ここまで説明した通りs2の主な対象は3次元球面上の幾何計算ですが、3次元球面とは地球のことです。
            お察しの通り、s2は地球上の幾何計算と空間インデックスを実装するためにあります。
            地球上の座標は緯度と経度で表現されます。
            s2は緯度と経度を介した計算も可能です。
            より厳密に言うと、s2は地球上の幾何図形を単位球上の幾何図形に変換し、諸々の計算を実行します。
            ライブラリの利用者は、s2が提供している緯度と経度の変換をするための関数を用いることで緯度と経度を単位球上の座標へと変換し、単位球上の幾何計算をするためのプログラムを書きます。
            その計算結果を緯度と経度に戻すことで、計算が完了となります。
        </p>

        <h3 appHeadRef id='s2はデータベースではない'></h3>

        <p>
            よく知られた空間インデックスの実装は、<app-link href='https://postgis.net/'>PostGIS</app-link>や<app-link
                href='https://mydbops.wordpress.com/2020/05/03/geospatial-data-handling-made-easy-with-mysql-8-0/'>
                MySQLのGeoSpatial</app-link>といった、RDBMS上に実装されているものです。
            これらのデータベース・・・そう・・・これらはデータベースです。
            データベースの中に格納されている幾何オブジェクトに対してインデックスを構築します。
            これらの幾何オブジェクトへの高速なアクセスが可能となります。
        </p>

        <p>
            対して、s2はデータベースではありません。
            地球上の全ての部分領域（哲学的に全ての部分領域を列挙することは不可能であるが、そういう屁理屈は積極的に無視していくスタイル）に対してインデックスを構築します。
            これらの部分領域への高速なアクセスが可能となります。
        </p>

        <p>
            えええええ？
        </p>

        <p>
            これって不思議だと思いませんか？特に以下の記述。
        </p>
        <blockquote>地球上の全ての部分領域に対してインデックスを構築している</blockquote>

        <p>
            地球上の全ての部分領域がどこかの配列とかに格納されているんじゃないの？
        </p>

        <p>
            格納されていません。
        </p>

        <p>
            そんなことが可能なの？
        </p>

        <p>
            空間充填曲線を用いれば可能です。
        </p>

        <h3 appHeadRef id='Cellとは何か？'></h3>

        <p>
            s2は空間充填曲線を用いることで、地球上の全ての部分領域に対する高速なアクセスを可能としています。
            空間充填曲線とは、ある一定の規則に従い空間を隙間なく埋め尽くすことのできる曲線です。
            その歴史は古く、初めてそのような曲線が発見されたのは1980年です。ペアノという人が発見しました。
            これはペアノ曲線と呼ばれています。
            そのすぐ1年後、現代数学の父、ヒルベルトが<app-link
                href='https://ja.wikipedia.org/wiki/%E3%83%92%E3%83%AB%E3%83%99%E3%83%AB%E3%83%88%E6%9B%B2%E7%B7%9A'>
                ヒルベルト曲線</app-link>を考案しました。
            s2で利用されている空間充填曲線はヒルベルト曲線です。
        </p>

        <p>
            空間充填曲線によって分割された地球上の1つ1つの部分領域のことを<app-link href='https://s2geometry.io/devguide/s2cell_hierarchy'>Cell
            </app-link>と呼びます。
            s2の空間インデックス機能を使いこなすためには、Cellについての深い理解が必須となります。
        </p>

        <h3 appHeadRef id='s2の利用実績'></h3>

        <p>
            s2は多くの利用実績があります。
            ライブラリの利用者にとって、利用実績があるということは最大の福音です。
            なぜなら、利用実績が多くあるほど、そのライブラリの信頼性が高いということを意味するからです。
        </p>

        <p>
            <app-link href='https://developers.google.com/maps/documentation/gaming/concepts_playable_locations'>
                Google
                playable
                Locations APIにはs2が使用されているらしいです。
            </app-link>
        </p>

        <p>
            <app-link href='https://pokemongohub.net/post/article/comprehensive-guide-s2-cells-pokemon-go/'>
                噂では、Pokemon
                Goでs2が使用されているという噂があります。</app-link>
        </p>

        <p>
            <app-link href='https://www.mongodb.com/blog/post/new-geo-features-in-mongodb-24'>
                MongoDBの空間インデックスはs2を用いて実装されています。
            </app-link>
        </p>

        <h3 appHeadRef id='s2がサポートする言語'></h3>

        <p>S2が公式にサポートする言語はC++とGoです。Javaによる実装もありますが、もう長いことアップデートされていません。
            C++をバインディングしたPythonがあります。
            また、サードパーティ製のNode.jsのライブラリもあります。</p>

    </mat-card-content>
</mat-card>