/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

$page-width: 1000px;

$page-statement-width: $page-width / 2;
$page-source-code-width: $page-width / 2;

.part-page {
    display: flex;
    flex-direction: row;
}

.page-statement {
    width: $page-statement-width;
    padding-right: 10px;
}

.page-source-code {
    width: $page-source-code-width;
}


@import '~highlight.js/styles/github.css';